{% extends "usernavbar.html" %}



{% block style %}

<title>Profile Setting</title>


<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Nunito', sans-serif;
        color: #384047;
        margin: 0; /* Add margin reset for the body */
    }

    form {
        max-width: 300px;
        margin: 10px auto;
        padding: 10px 20px;
        background: #ffffff;
        border-radius: 8px;
    }

    h1 {
        margin: 0 0 30px;
        text-align: center;
    }

    input[type="text"],
    input[type="date"],
    textarea,
    select {
        background-color: #e8eeef;
        border: none;
        font-size: 16px;
        height: 36px; /* Consistent height for input fields */
        padding: 5px; /* Padding for input fields */
        width: 100%;
        color: #8a97a0;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
    }

    #save {
        padding: 19px 39px;
        color: #FFF;
        background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
        font-size: 18px;
        text-align: center;
        border-radius: 5px;
        width: 100%;
        border: 0px ;
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
        cursor: pointer;
    }
    #save:hover {
        background: linear-gradient(to bottom left, #FFC39E 40%, #EF8);
    }

    fieldset {
        border: none;
    }



    label {
        display: block;
    }


    @media screen and (min-width: 480px) {
        form {
            max-width: 1000px;
        }
    }

    ul {
        list-style-type: none;
        text-align: center;
        color: red;
    }

</style>


{% endblock %}




{% block form %}
<div class="row">
    <div class="col-md-12">

        <form action="{% url 'update_profile' %}" method="POST">
            {% csrf_token %}
            <h1>Profile Setting</h1>
            
            <fieldset>


                <label for="id">Employee ID:</label>
                <p>{{ pt_info.PTid}}</p>
                <br>

                <label for="name">Name:</label>
                <input type="text" name="UpdateName" id="employeeName" value="{{ pt_info.PTname}}" >

                <label for="name">Password:</label>
                <input type="text" name="UpdatePassword" id="employeePassword" value="{{ pt_info.PTpassword}}">

                <label for="PhoneNo">Phone No:</label>
                <input type="text" name="UpdatePhoneNo" id="employeePhoneNo" value="{{ pt_info.PTphonenumber}}">

                <label for="BankAcc">Bank Acc:</label>
                <input type="text" name="UpdateBankAcc" id="employeeBankAcc" value="{{ pt_info.PTbankacc}}">

                <label for="IC">IC:</label>
                <input type="text" name="UpdateIC" id="employeeIC" value="{{ pt_info.PTic}}">

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br>

                <button id="save" type="submit">SAVE</button>
            </fieldset>
        </form>
        
    </div>
</div>

{% endblock %}